<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap" rel="stylesheet">
    <title>Find a Cocktail</title>
</head>

<body class="showpage">
    <div class="sidenav">
        <% if (user) { %>
            <a href="/logout"><img class="loginpicshowpage" style="background-color:white;border-radius:50%"
                    src="https://cdn-icons-png.flaticon.com/512/149/149995.png"><br>Log out</a>
            <a href="/favorites">Favorites</a>
            <% } else { %>
                <a href="/auth/google"><img class="loginpicshowpage"
                        src="https://cdn-icons-png.flaticon.com/512/149/149995.png"><br>Log In</a>
                <% } %>
                    <a href="/">Home</a>
                    <a href="/cocktails">Browse by Letter</a>
    </div>
    <img class="detailspic" src="<%= cocktailData.drinks[0].strDrinkThumb %>">
    <div class="detailstitle">
        <h1 class="detailtitle" style="text-decoration:underline">
            <%= cocktailData.drinks[0].strDrink %>
        </h1>
        <% if (user && user.favoriteIds.includes(cocktailData.drinks[0].idDrink)) { %>
            <button class="disabledbutton" type="button" disabled>Already added to Favorites</button>
            <% } else if (user) {%>
                <form action="/cocktails/<%= cocktailData.drinks[0].idDrink %>" method="POST">
                    <button class="activebutton" type="submit">Add to Favorites</button>
                </form>
                <% } %>
    </div>
    <p class="detailtitle">
        <%= cocktailData.drinks[0].strAlcoholic %>
            <%= cocktailData.drinks[0].strCategory.toLowerCase() %>
                featuring <%= cocktailData.drinks[0].strIngredient1 %>, best enjoyed in a <%=
                        cocktailData.drinks[0].strGlass %>.
    </p>
    <section>
        <h2 class="detailsubtitle">Ingredients</h2>
        <hr>
        <% let ingredients=[cocktailData.drinks[0].strIngredient1, cocktailData.drinks[0].strIngredient2,
            cocktailData.drinks[0].strIngredient3, cocktailData.drinks[0].strIngredient4,
            cocktailData.drinks[0].strIngredient5, cocktailData.drinks[0].strIngredient6,
            cocktailData.drinks[0].strIngredient7, cocktailData.drinks[0].strIngredient8,
            cocktailData.drinks[0].strIngredient9, cocktailData.drinks[0].strIngredient10,
            cocktailData.drinks[0].strIngredient11, cocktailData.drinks[0].strIngredient12,
            cocktailData.drinks[0].strIngredient13, cocktailData.drinks[0].strIngredient14,
            cocktailData.drinks[0].strIngredient15]; %>
            <% let measurements=[cocktailData.drinks[0].strMeasure1, cocktailData.drinks[0].strMeasure2,
                cocktailData.drinks[0].strMeasure3, cocktailData.drinks[0].strMeasure4,
                cocktailData.drinks[0].strMeasure5, cocktailData.drinks[0].strMeasure6,
                cocktailData.drinks[0].strMeasure7, cocktailData.drinks[0].strMeasure8,
                cocktailData.drinks[0].strMeasure9, cocktailData.drinks[0].strMeasure10,
                cocktailData.drinks[0].strMeasure11, cocktailData.drinks[0].strMeasure12,
                cocktailData.drinks[0].strMeasure13, cocktailData.drinks[0].strMeasure14,
                cocktailData.drinks[0].strMeasure15] %>
                <% ingredients.forEach(function(ele, idx) { %>
                    <% if (ele !==null && ele !=="" ) { %>
                        <h4 class="detailsubtitle">
                            <%= measurements[idx] %>
                                of
                                <%= ele %>
                                    <h4>
                                        <% } %>
                                            <% }) %>
    </section>
    <section>
        <h2 class="detailsubtitle">Recipe</h2>
        <hr>
        <p class="detailsubtitle">
            <%= cocktailData.drinks[0].strInstructions %>
        </p>
    </section>
    <h2 class="detailsubtitle">Comments</h2>
    <hr>

    <% if (searchResults.length) { %>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% searchResults.forEach(function(ele) { %>
                    <tr>
                        <td><img class="commentpic" src='<%= ele.userAvatar %>'> </td>
                        <td>
                            <%= ele.userName %> -
                        </td>
                        <td>
                            <%= ele.createdAt.toLocaleDateString() %> -
                        </td>
                        <td>
                            <%= ele.text %>
                        </td>
                        <td>
                            <% if (user && user._id.equals(ele.user)) { %>
                                <form action="/comments/<%= ele._id %>?_method=DELETE" method="POST">
                                    <button type="submit">Delete</button>
                                </form>
                                <form action="/comments/<%= ele._id %>" method="GET">
                                    <button type="submit">- Edit -</button>
                                </form>
                                <% } %>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
        <% } else { %>
            <p class="detailsubtitle">No comments posted yet</p>
            <% } %>
                <% if (user) { %>
                    <h5 class="detailsubtitle">Post a new comment:</h5>
                    <form action="/comments/<%= cocktailData.drinks[0].idDrink %>" method="POST">
                        <textarea class="marginleft" name="text"></textarea>
                        <input type="submit" value="Post">
                    </form>
                    <% } else { %>
                        <div>
                            <p class="detailsubtitle"><a href="/auth/google">Log in</a> to post a comment.</p>
                        </div>
                        <% } %>
</body>

</html>