<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap" rel="stylesheet">
    <title>Find a Cocktail</title>
</head>

<body class="showpage">
    <div class="sidenav" id="sidenav">
        <a id="sidenavclose"></a>
        <% if (user) { %>
            <a href="/logout" class="sidenavlinks"><img class="loginpicshowpage"
                    style="background-color:white;border-radius:50%"
                    src="https://cdn-icons-png.flaticon.com/512/149/149995.png"><br>Log out</a>
            <a href="/favorites" class="sidenavlinks">Favorites</a>
            <% } else { %>
                <a href="/auth/google" class="sidenavlinks"><img class="loginpicshowpage"
                        src="https://cdn-icons-png.flaticon.com/512/149/149995.png"><br>Log
                    In</a>
                <% } %>
                    <a href="/" class="sidenavlinks">Home</a>
    </div>
    <div class="letternav">
        <p> ~ </p>
        <a href="/cocktails/search/a">A</a>
        <a href="/cocktails/search/b">B</a>
        <a href="/cocktails/search/c">C</a>
        <a href="/cocktails/search/d">D</a>
        <a href="/cocktails/search/e">E</a>
        <a href="/cocktails/search/f">F</a>
        <a href="/cocktails/search/g">G</a>
        <a href="/cocktails/search/h">H</a>
        <a href="/cocktails/search/i">I</a>
        <a href="/cocktails/search/j">J</a>
        <a href="/cocktails/search/k">K</a>
        <a href="/cocktails/search/l">L</a>
        <a href="/cocktails/search/m">M</a>
        <a href="/cocktails/search/n">N</a>
        <a href="/cocktails/search/o">O</a>
        <a href="/cocktails/search/p">P</a>
        <a href="/cocktails/search/q">Q</a>
        <a href="/cocktails/search/r">R</a>
        <a href="/cocktails/search/s">S</a>
        <a href="/cocktails/search/t">T</a>
        <a href="/cocktails/search/u">U</a>
        <a href="/cocktails/search/v">V</a>
        <a href="/cocktails/search/w">W</a>
        <a href="/cocktails/search/x">X</a>
        <a href="/cocktails/search/y">Y</a>
        <a href="/cocktails/search/z">Z</a>
        <p> ~ </p>
    </div>
    <p class="showheader">Your Server Suggests...</p>
    <hr>
    <% if (cocktailData.drinks !==null) { %>
        <% cocktailData.drinks.forEach(function (ele, idx) { %>
            <div class="showcontainer">
                <img class="thumbnail" src="<%= cocktailData.drinks[idx].strDrinkThumb %>">
                <h3 class="gridtitle">
                    <a href="/cocktails/<%=cocktailData.drinks[idx].idDrink%>">
                        <%= cocktailData.drinks[idx].strDrink %>
                    </a>
                </h3>
                <p class="griddescription" style="color: white">
                    <%= cocktailData.drinks[idx].strAlcoholic %>
                        <%= cocktailData.drinks[idx].strCategory.toLowerCase() %>
                            featuring <%= cocktailData.drinks[idx].strIngredient1 %>, best enjoyed in a <%=
                                    cocktailData.drinks[idx].strGlass %>.
                </p>

            </div>
            <% }); %>
                <% } else { %>
                    <p class="errorsearch">We can't find anything named "<%= searchData %>", old chap.</p>
                    <a href="/">Search Again</a>
                    <% }; %>

</body>

<script>
    const sideNav = document.getElementById('sidenav');
    const sideNavClose = document.getElementById('sidenavclose');
    const sideNavLinks = document.querySelectorAll('.sidenavlinks');
    const letterNav = document.querySelector('.letternav');
    const showHeader = document.querySelector('.showheader');
    const drinkDiv = document.querySelectorAll('.showcontainer');
    let counter = 0;
    sideNavClose.addEventListener('click', function () {
        if (counter == 0) {
            sideNav.style.width = '80px';
            letterNav.style.marginLeft = '55px';
            showHeader.style.marginLeft = '30px';
            for (let item of sideNavLinks) {
                item.style.opacity = '0';
            };
            for (let drink of drinkDiv) {
                drink.style.marginLeft = '55px';
            };
            counter += 1;
        } else {
            sideNav.style.width = '250px';
            letterNav.style.marginLeft = '225px';
            showHeader.style.marginLeft = '200px';
            for (let item of sideNavLinks) {
                item.style.opacity = '1';
            };
            for (let drink of drinkDiv) {
                drink.style.marginLeft = '225px';
            };
            counter -= 1;
        }
    })
</script>

</html>